<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.promotion.VIPCardMapper">
    <insert id="insertOneCard" parameterType="com.example.cinema.po.VIPCard"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_card(user_id, balance)
        values(#{userId}, #{balance})
    </insert>

    <select id="selectCardById" resultMap="VIPCard">
        select * from vip_card where id=#{id}
    </select>

    <select id="selectCardByUserId" resultMap="VIPCard">
        select * from vip_card where user_id=#{userId}
    </select>
    
    <select id="selectVIPInfo" resultMap="VIPInfo">
    	select * from vip_service
    </select>

    <select id="getChargeHistory" resultMap="VIPCharge">
        select * from vip_charge where user_id=#{userId}
    </select>
    
    <insert id="insertOneVIPInfo" parameterType="com.example.cinema.vo.VIPInfoForm"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_service(name, price, discount_req, discount_res)
        values(#{name}, #{price}, #{discount_req}, #{discount_res})
    </insert>
    
    <update id="updateOneVIPInfo" parameterType="com.example.cinema.vo.VIPInfoForm">
    	update vip_service set name = #{name}, price = #{price}, 
    	discount_req = #{discount_req}, discount_res = #{discount_res}
        where id = #{id}
    </update>

    <insert id="insertVIPCharge" parameterType="com.example.cinema.po.VIPCharge"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_charge(user_id,vip_service_id,charge_amount,calculated_amonut,charge_time)
        values (#{userId},#{vipServiceId},#{chargeAmount},#{calculatedAmount},#{chargeTime})
    </insert>

    <resultMap id="VIPCard" type="com.example.cinema.po.VIPCard">
        <result column="join_time" property="joinDate"></result>
        <result column="id" property="id"></result>
        <result column="user_id" property="userId"></result>
        <result column="balance" property="balance"></result>
    </resultMap>
    
    <resultMap id="VIPInfo" type="com.example.cinema.po.VIPInfo">
    	<result column="name" property="name"></result>
    	<result column="price" property="price"></result>
    	<result column="discount_req" property="discount_req"></result>
    	<result column="discount_res" property="discount_res"></result>
    </resultMap>

    <resultMap id="VIPCharge" type="com.example.cinema.po.VIPCharge">
        <result column="user_id" property="userId"></result>
        <result column="id" property="id"></result>
        <result column="vip_service_id" property="vipServiceId"></result>
        <result column="charge_amount" property="chargeAmount"></result>
        <result column="calculated_amount" property="calculatedAmount"></result>
        <result column="charge_time" property="chargeTime"></result>
    </resultMap>

    <update id="updateCardBalance" >
        update vip_card set balance = #{balance} where id=#{id}
    </update>

	

</mapper>