.content-container > div {
	margin: 20px 0;
}

.card-title {
	display: flex;
    justify-content: flex-start;
}

.card-title > button {
	margin-left: 20px;
}

.card-body {
    display: flex;
    margin: 20px 0;
    min-height: 281px;
}

.refund-string {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding: 20px;
    justify-content: center;
    background: #1caf9a;
    border-radius: 4px;
    color: white;
    font-family: 幼圆;
}

.refund-name {
    font-size: 25px;
}

.refund-red-text{
    color: red;
    font-size: 22px;
}

.refund-permit{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 65%;
    padding: 20px;
}

.refund-button {
    display: flex;
    flex-direction: column;
    flex-basis: 5%;
}

.refund-btn-update,.refund-btn-delete {
    height: 50%;
}
