<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院退票</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminRefund.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminRefundManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/admin.png" />
            <p class="title" id="account">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-pencil"></i> 影院退票</a></li>
            <li role="presentation"><a href="/admin/vipcard/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">退票管理</span>
        </div>
        <div class="content-vipRef">
        	<div class="card-title">
        		<h4 class="vip-notice text-info">暂无会员的退票策略</h4>
        		<button type="button" id="vip-add-button" class="btn btn-primary" onclick="addRefStra(1)"><i class="icon-plus-sign"></i> 发布 </button>
            </div>
            <div class="vipRef-body card-body">
            </div>
        </div>
        <div class="content-nonVipRef" style="margin-top: 40px;">
        	<div class="card-title">
        		<h4 class="nonVip-notice text-info">暂无非会员的退票策略</h4>
        		<button type="button" id="nonVip-add-button" class="btn btn-primary" onclick="addRefStra(0)"><i class="icon-plus-sign"></i> 发布 </button>
            </div>
            <div class="nonVipRef-body card-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
                <h4 class="modal-title" id="refundModalLabel">发布退票策略</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-name-input"><span class="error-text">*</span>策略名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-name-input" placeholder="请输入退票策略名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="false-time">免费退票时间</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="time" id="free-time" step="300">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="false-time">不可退票时间</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="time" id="false-time" step="300">
                        </div>
                    </div>
                    
                    <div class="form-group" id="time-group1">
                        <label class="col-sm-2 control-label" for="refund-time-start-1"><span class="error-text">*</span>电影开场前</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="time" id="refund-time-start-1" step="300">
                        </div>
                        <label class="col-sm-1 control-label" for="refund-time-end-1">至</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="refund-time-end-1" step="300">
                        </div>
                    </div>
                    <div class="form-group" id="penalty-group1">
                        <label  class="col-sm-2 control-label" for="refund-penalty-1"><span class="error-text">*</span>折算系数</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-penalty-1" placeholder="请输入退票手续费的折算系数">
                        </div>
                    </div>
                    
                    <div class="form-group" id="time-group2" style="display: none;">
                        <label class="col-sm-2 control-label" for="refund-time-start-2"><span class="error-text">*</span>电影开场前</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="time" id="refund-time-start-2" step="300">
                        </div>
                        <label class="col-sm-1 control-label" for="refund-time-end-2">至</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="refund-time-end-2" step="300">
                        </div>
                    </div>
                    <div class="form-group" id="penalty-group2" style="display: none;">
                        <label  class="col-sm-2 control-label" for="refund-penalty-2"><span class="error-text">*</span>折算系数</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-penalty-2" placeholder="请输入退票手续费的折算系数">
                        </div>
                    </div>
                    
                    <div class="form-group" id="time-group3" style="display: none;">
                        <label class="col-sm-2 control-label" for="refund-time-start-3"><span class="error-text">*</span>电影开场前</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="time" id="refund-time-start-3" step="300">
                        </div>
                        <label class="col-sm-1 control-label" for="refund-time-end-3">至</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="refund-time-end-3" step="300">
                        </div>
                    </div>
                    <div class="form-group" id="penalty-group3" style="display: none;">
                        <label  class="col-sm-2 control-label" for="refund-penalty-3"><span class="error-text">*</span>折算系数</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-penalty-3" placeholder="请输入退票手续费的折算系数">
                        </div>
                    </div>
                    
                    <div class="form-group" id="time-group4" style="display: none;">
                        <label class="col-sm-2 control-label" for="refund-time-start-4"><span class="error-text">*</span>电影开场前</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="time" id="refund-time-start-4" step="300">
                        </div>
                        <label class="col-sm-1 control-label" for="refund-time-end-4">至</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="refund-time-end-4" step="300">
                        </div>
                    </div>
                    <div class="form-group" id="penalty-group4" style="display: none;">
                        <label  class="col-sm-2 control-label" for="refund-penalty-4"><span class="error-text">*</span>折算系数</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-penalty-4" placeholder="请输入退票手续费的折算系数">
                        </div>
                    </div>
                    
                    <div class="form-group" id="time-group5" style="display: none;">
                        <label class="col-sm-2 control-label" for="refund-time-start-5"><span class="error-text">*</span>电影开场前</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="time" id="refund-time-start-5" step="300">
                        </div>
                        <label class="col-sm-1 control-label" for="refund-time-end-5">至</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="refund-time-end-5" step="300">
                        </div>
                    </div>
                    <div class="form-group" id="penalty-group5" style="display: none;">
                        <label  class="col-sm-2 control-label" for="refund-penalty-5"><span class="error-text">*</span>折算系数</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="refund-penalty-5" placeholder="请输入退票手续费的折算系数">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div  class="col-sm-1">
                            <button type="button" class="btn btn-primary" onclick="inputPlus()"><i class="icon-plus-sign"></i></button>
                        </div>
                        <div  class="col-sm-1">
                            <button type="button" class="btn btn-danger" onclick="inputMinus()"><i class="icon-minus-sign"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="confirmClick()">确认</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">您确定删除此策略吗？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="deConfirmClick()">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
