<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购票</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userBuy.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userBuy.js"></script>

</head>
<body>
<div class="nav-top-container">
    <div class="nav-logo title">NJU-Se电影购票系统</div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/user/home">首页</a></li>
        <li role="presentation"><a href="/user/movie">电影</a></li>
    </ul>
    <div class="btn-group">
        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-sm" src="/images/visit.png" />
            <span id="account" class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">电影票</a></li>
            <li><a href="/user/member">卡包</a></li>
            <li id="logout"><a href="#">登出</a></li>
        </ul>
    </div>
</div>
<div class="content-container">
        <div class="content-header">
            <span class="title gray-text">已购电影票</span>
        </div>
        <ul class="ticket-on-list">
        </ul>
</div>
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">付款</h2>
            </div>
            <div class="modal-body">
                <div id="modal-body-nonmember">
                    <div class="form-group">
                        <label for="userBuy-cardNum">银行卡号</label>
                        <input class="form-control" id="userBuy-cardNum" placeholder="请输入银行卡号">
                        <p id="userBuy-cardNum-error" class="notice">银行卡号不能为空</p>
                    </div>
                    <div class="form-group">
                        <label for="userBuy-cardPwd">密码</label>
                        <input type="password" class="form-control" id="userBuy-cardPwd" placeholder="请输入密码">
                        <p id="userBuy-cardPwd-error" class="notice">密码不能为空</p>
                    </div>
                </div>

                <div id="pay-amount"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="buyModal-dismiss" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="buyModal-confirm" onclick="payConfirmClick()">确认支付</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">退票</h2>
            </div>
            <div class="modal-body">
                <div>
                	<label>当前退款的手续费折算比：</label>
                	<div id="refund-ratio" class="text-info"></div>
                </div>
                <div>
                	<label>退款金额：</label>
                	<div id="refund-amount" class="text-info"></div>
                </div>
                <div>
                	<label>收回优惠券：</label>
                	<div id="coupon-withdraw" class="text-info"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="buyModal-dismiss" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="buyModal-confirm" onclick="payConfirmClick()">确认支付</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>