<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sliderStyle.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>


</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>


    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


<!--    暂时没内容，点击导航 ' 电影 ' 看看吧-->
    <!-- 可能不需要的功能 -->
    <div class="container">
        <div id="slider_wrap">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="#">
                        <img src="http://localhost:8080/images/defaultAvatar.jpg" alt="target" style = "width:30%;height:430px"  class="img-responsive center-block">
                        </a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="http://n.sinaimg.cn/translate/640/w600h840/20190312/ampL-hufnxfm4278816.jpg" alt="bussiness" style = "width:30%;height:430px"  class="img-responsive center-block">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1553356290635&di=cdb69a78db5e09ccef02a56fc4973e30&imgtype=0&src=http%3A%2F%2Fatt2.citysbs.com%2Fhangzhou%2F2012%2F06%2F07%2F15%2Fmiddle_151704_kmmuadil_37e045321c34acd13b3b68f3ccff04c5.jpg" alt="global" style = "width:30%;height:430px"  class="img-responsive center-block">
                        <div class="carousel-caption">
                            <h3>global marcket</h3>
                            <p>blablabla</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>



        <!-- Controls -->
<!--        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
<!--            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
<!--            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--    </div>-->
    <div class="content-container">
        <div class="movie-contianer">
            <div>
                <div style="float:left" class="title primary-text">
                    热映电影
                </div>
                <div style="float:right">
                <a href="#" class="text-right">
                    查看全部>>
                </a>
                </div>
            </div>
            <ul class="movie-on-list card">
                <ul>
                    <li class="span4" style="width: 300px;border:none;outline:none;margin-top: 20px">
                        <a href="#" style="margin: 1px 0 0 35px">
                            <img src="https://www.douban.com/link2/?url=https%3A%2F%2Fmovie.douban.com%2Fsubject%2F27060077%2F&query=%E7%BB%BF%E7%9A%AE%E4%B9%A6&cat_id=1002&type=search&pos=0" style="height:330px;width:230px" alt="">
                            <h4 class="text-center">绿皮书</h4>
                        </a>
                    </li>
                    <li class="span4" style="width: 300px;border:none;outline-style:none;margin-top: 20px">
                        <a href="#" style="margin: 1px 0 0 35px">
                            <img src="https://movie.douban.com/subject/26715636/?tag=%E7%83%AD%E9%97%A8&from=gaia_video" style="height:330px;width:230px" alt="">
                            <h4 class="text-center">地久天长</h4>
                        </a>
                    </li>
                    <li class="span4" style="width: 300px;border:none;outline-style:none;margin-top: 20px">
                        <a href="#" style="margin: 1px 0 0 35px">
                            <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2551995207.jpg" style="height:330px;width:230px" alt="">
                            <h4 class="text-center">调音师</h4>
                        </a>
                    </li>
                    <li class="span4" style="width: 300px;border:none;outline-style:none;margin-top: 20px">
                        <a href="#" style="margin: 1px 0 0 35px">
                            <img src="https://movie.douban.com/subject/26667010/?from=showing" style="height:330px;width:230px" alt="">
                            <h4 class="text-center">流浪地球</h4>
                        </a>
                    </li>
                </ul>
            </ul>

<!--            <p class="title primary-text">即将上映</p>-->
<!--            <ul class="movie-off-list card">-->
<!--            </ul>-->
        </div>
        <div class="statistic-container">
<!--            <p class="title primary-text">票房统计</p>-->
<!--            <ul class="top-sell-list card">-->
<!--                <div class="statistic-item">-->
<!--                    <span>电影1</span>-->
<!--                    <span class="error-text">99</span>-->
<!--                </div>-->
<!--                <div class="statistic-item">-->
<!--                    <span>电影1</span>-->
<!--                    <span class="error-text">99</span>-->
<!--                </div>-->
<!--                <div class="statistic-item">-->
<!--                    <span>电影1</span>-->
<!--                    <span class="error-text">99</span>-->
<!--                </div>-->
<!--            </ul>-->
            <p class="title primary-text">最受欢迎</p>
            <ul class="top-expectation-list card">
                <div class="statistic-item">
                    <span>夏目友人帐</span>
                    <span class="error-text">5</span>
                </div>
                <div class="statistic-item">
                    <span>绿皮书</span>
                    <span class="error-text">3</span>
                </div>
                <div class="statistic-item">
                    <span>地久天长</span>
                    <span class="error-text">3</span>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>